.create-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.form-create {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-weight: 600;
    margin-bottom: 10%;
    padding: 32px;
    width: 40%;
}

.create-title {
    color: #000000;
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.btn-create {
    margin-left: 35%;
    width: 30%;
}