@model LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">ĐĂNG NHẬP</div><br/>
            <div class="panel-body">
                <section>
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h4>Dùng tài khoản để đăng nhập.</h4>
                        <hr/>
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-10 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="UserName" class="form-control"/>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-10 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe"/>
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                            </div>
                        </div>
                    </form>
                    <div class="dropdown-divider"></div>
                    <p>Chưa có tài khoản? <a asp-action="Register">Đăng ký</a></p>
                    <a href="#">Quên mật khẩu?</a>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}