.register {
    align-items: center;
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/15-12-2017/shopping_signin_form-demo_Free/521159917/web/images/bg1.jpg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 120vh;
}

.registerTitle {
    color: #000000;
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.registerForm {
    background-color: rgba(44, 44, 44, 0.8);
    border-radius: 10px;
    box-shadow: #808080 0px 3px 8px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding: 40px;
    width: 30%;
}

.registerForm > label {
    font-size: 16px;
    margin: 10px 0;
}

.registerInput {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.registerInput:focus { outline: none; }

.registerButton {
    background-color: #8ce122;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.registerButton:hover {
    background-color: #a5ef0a;
    font-weight: 700;
}

.registerForm > p {
    font-size: 16px;
    margin-top: 16px;
}

.registerLoginButton {
    color: white;
    cursor: pointer;
}

.registerLoginButton:hover {
    color: white;
    color: #ff6a00;
    font-weight: 700;
    text-decoration: none;
}